.sidebar{
    background-color:var(--light1);
    color:var(--dark4);
}
.table-parent{
    background-color:var(--light1);
    color:var(--dark4);
}
.tab--parent{    
    background-color:var(--light1);
    color:var(--dark4);
}
.table{    
    background-color:var(--light1);
    color:var(--dark4);
}
.tabs-list{
    background-color:var(--light1);
    color:var(--dark4);
}
.tabs-list button[data-state='active']{
    background-color:var(--light3);
    color:var(--dark4);
}
.tabs-list button[data-state='inactive']{
    background-color:var(--light1);
    color:var(--medium3);
}