.layout{
    background-color: var(--light1);
    color: var(--dark4);
    min-height:100vh;
}
.main-container{
    color: var(--dark2);
    background-color: var(--light3);
    padding:calc(var(--spacing) * 4);
}
.main{
    background-color: var(--light1);
    color: var(--dark4);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}